*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  padding: 10px 20px;
  background: #333;
  color: #fff;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.header-name {
  font-size: 1.5em;
}

.header-fields {
  display: flex;
  gap: 16px;
}

.header-fields div {
  cursor: pointer;
}
.cart-link{
  margin-right: 20px;
}
.cart-icon {
  position: relative;
  display: flex;
  gap: 16px;
  align-items: center;
}
.cart-count {
  position: absolute; 
  right: -5px;  
  background-color: #ff0000;
  color: #fff;
  margin-left: 10px;
  border-radius: 50%;
  padding: 2px 6px; 
  font-size: 0.7em; 
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 16px; 
  min-height: 16px; 
}